.titulo-tema{
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.1rem;
}