.botao{
    background-color: #17D9B1;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    color: #212121;
    line-height: 120%;
    font-weight: 700;
    font-family: "Inter", sans-serif;
}

.botao:hover{
    opacity: 0.8;
    cursor: pointer;
}